#btn-react-RA {
  display: flex;
  align-items: center;
  background-color: rgb(2, 85, 189);
  color: white;
  font-size: medium;
  border-radius: 10px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button img {
  width: 30px;
  height: 30px;
  padding: 5px;
}

@media (max-width: 768px) {
  #btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    width: 300px;
  }
}
