.rodape {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.prefooter {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.section5,
.section6 {
  display: none;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
  background-color: rgb(249, 249, 249);
}

.redes ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.termos ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.redes li,
.termos li {
  cursor: pointer;
}

.insidelist {
  list-style: none;
  line-height: 2rem;
}

.insidelist li {
  cursor: pointer;
  color: rgb(31, 105, 193);
}

.listdiferent {
  color: rgb(75, 89, 99) !important;
}

.linklist {
  text-decoration: underline;
}

.button-inside {
  padding: 10px;
  width: 250px;
  margin: 15px 0;
  background-color: rgb(31, 105, 193);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-inside:hover {
  opacity: 0.8;
}

.button-inside-reclame {
  padding: 10px;
  width: 250px;
  margin: 15px 0;
  background-color: white;
  color: red;
  border: solid 1px red;
  border-radius: 5px;
  cursor: pointer;
}

.logo p{
  font-size: 2rem;
  font-weight: bold;
  color: rgb(75, 89, 99);
  font-style: italic;
  padding: 10px;
}

.logo span{
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .rodape {
    position: relative;
  }

  .section,
  .section2,
  .section3,
  .section4 {
    display: none;
  }

  .section5,
  .section6 {
    display: block;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 1px rgb(225, 227, 229);
    padding: 20px;
  }

  .prefooter {
    display: block;
    margin: 0;
  }

  .section5{
    padding: 10px;
    line-height: 2rem;
    color: rgb(31, 105, 193);
  }


  .section6 {
    margin: 10px;
  }
}
