.submenu {
  padding: 10px;
}

.submenu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

.submenu li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.submenu li svg{
  color: rgb(75, 89, 99);
}

.icon-list{
  font-size: 23px;
  margin-right: 5px;
}

.icon-list2,
.icon-list3,
.icon-list4,
.icon-list5,
.icon-list6 {
  margin-right: 5px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .submenu {
    display: flex;
    overflow-x: scroll;
  }

  .submenu ul {
    display: flex;
    list-style: none;
  }

  .submenu li {
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;

  }

  .submenu li svg{
    display: none;
  }

}
